.additions__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.additions__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.additions__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.addition-item__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.addition-item__amount,
.addition-item__price {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.additions__present {
  background-color: rgba(104, 183, 56, 0.85);
}

.additions__present-title {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
