.additions__title {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
}

.addition-item__title {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.addition-item__amount, .addition-item__price {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.additions__present {
  background-color: rgba(104, 183, 56, 0.85);
}

.additions__present__title {
  font-family: "Lato";
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
