.advantages__title {
  font-family: "Oswald";
  font-size: 36px;
  line-height: 40px;
}

.advantages-item__description {
  font-family: "Lato";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.advantages-list {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 230px 230px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.advantages-list__item {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}
