.advantages__title {
  font-family: "Oswald";
  font-size: 36px;
  line-height: 40px;
}

.advantages-item__description {
  font-family: "Lato";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
