.button {
  font-family: "Oswald";
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #68B738;
  text-transform: uppercase;
  border: none;
}

.button--disabled {
  background-color: #F2F2F2;
  color: #444444;
}
