.example-block {
  background-color: #eaeaea;
}

.example-block__title {
  font-family: "Oswald";
  font-size: 36px;
  line-height: 40px;
}

.example-block__description {
  font-family: "Lato";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example-block__legend .legend-block__amount {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 24px;
}

.example-block__legend .legend-block__description {
  font-family: "Lato";
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.example-block__expenses {
  font-family: "Oswald";
  font-size: 14px;
  line-height: 20px;
}
