.example-block {
  background-color: #eaeaea;
  padding: 25px 20px;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.example-block__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example-block__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example-block__legend {
  position: relative;
  display: flex;
  gap: 32px;
  margin-bottom: 30px;
}

.example-block__legend .legend-block__amount {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid #cdcdcd;
  display: block;
  width: 130px;
  text-align: center;
  padding: 14px 0;
}

.example-block__legend .legend-block__description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    br {
      display: none;
    }
  }
}

.weight-description {
  position: absolute;
  bottom: -16px;
  left: 34px;

  @media (min-width: $tablet-width) {
    bottom: -5px;
    left: 25px;
  }
}

.time-description {
  position: absolute;
  top: 47px;
  right: 35px;

  @media (min-width: $tablet-width) {
    bottom: 45px;
    left: -230px;
  }
}

.example-block__expenses {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}
