.hero-block {
  background-color: rgba(104, 183, 56, 0.85);
  color: #ffffff;
  font-family: "Oswald";
  font-weight: 400;
  width: 320px;
}

.hero-block__title {
  font-size: 36px;
  line-height: 36px;
}

.hero-block__legend {
  font-size: 14px;
  line-height: 14px;
}
