.hero-block {
  background-image: url(../../img/hero-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  width: 320px;
}

.hero-block__wrapper {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 63%, #ffffff 63%);
}

.hero-block__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  padding-top: 27px;
  margin-bottom: 25px;
}

.hero-block__legend {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  margin-bottom: 29px;
}

.hero-block__image {
  position: relative;
  top: 0;
  right: -20px;
  display: block;
  text-align: center;
}

.hero-block__button {
  width: 100%;
  padding: 10px 63px;
  font-size: 16px;
  line-height: 20px;
}
