.main-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
}

.main-header__button {
  position: relative;
  height: 24px;
  width: 24px;
  align-self: center;
  border: none;
  background: none;


  &::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header-logo {
  display: flex;
}

.logo__image {
  margin-right: 56px;
}

.logo__title {
  align-self: center;
}
