.cooperation__call {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.cooperation__address {
  font-family: "Lato";
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.copyright__author {
  font-family: "Lato";
  font-size: 16px;
  line-height: 20px;
  color: #444444;
}
