.main-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header__button {
  height: 18px;
  width: 18px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

