.nutrition-programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 80px;
  }
}

.nutrition-programs__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 63px 80px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 61px 55px 52px;
  }
}

.nutrition-programs__item::before {
  content: "";
  background-image: url(../../img/cat-weight-loss.svg);
  background-size: cover;
  width: 50px;
  height: 53px;
  display: block;
  float: left;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    float: right;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    float: left;
    margin-right: 62px;
  }
}

.nutrition-program__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.nutrition-program__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;
  }
}

.nutrition-program__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
  }
}
