.nutrition-program__title {
  font-family: "Oswald";
  font-size: 24px;
  line-height: 37px;
  color: #000000;
}

.nutrition-program__description {
  font-family: "Lato";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.nutrition-program__link {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 16px;
}
